<footer>
  <a href='/'>Home</a>
  <a href='/imprint'>Impressum</a>
  <a href='/privacy'>Datenschutz</a>
</footer>

<style>
  footer {
    display: flex;
    font-family:
      DM Sans Variable,
      sans-serif;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 2rem;
    padding: 30px 0px;
    font-size: 0.8rem;
  }
</style>
