.root {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 60px;
}

.inner {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  gap: 30px;

  & a {
    text-decoration: none;
  }
}
